include LICENSE
include README.md
include setup.py
include setup.cfg
include twined/schema/children_schema.json
include twined/schema/manifest_schema.json
include twined/schema/twine_schema.json
recursive-include twined *
